<h1>New theme</h1>

<%= error_messages_for :theme %>

<% form_for(@theme) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
  <%= hidden_field_tag(:copy_theme_id, @copy_theme.id) if @copy_theme -%>
<% end %>

<%= link_to 'Back', themes_path %>
